<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsc.uibmissatgeria" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="data_tfg.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.fsc.uibmissatgeria" />

        <receiver android:name=".api.NotificationReceiver">
            <intent-filter>
                <action    android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PrincipalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activities.MessagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name=".ui.activities.NewMessageActivity"
            android:label="@string/title_activity_new_message" >
        </activity>
        <activity
            android:name=".ui.activities.SubjectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ui.activities.PeerSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_peer_selection" >
        </activity>
        <activity
            android:name=".ui.activities.OptionsActivity"
            android:label="@string/title_activity_peer_selection" >
        </activity>
        <activity
            android:name=".ui.activities.ConversationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".ui.activities.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrincipalActivity"/>
        </activity>

        <service
            android:name=".api.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/user_avatar">
        </service>

    </application>

</manifest>
